#blank{
    cursor: pointer;
    width: 100px;
    position: absolute;
    transition: 1s;
}
#blue{
    cursor: pointer;
    width: 100px;
    position: absolute;
    transition: 1s;
}

#purple {
    cursor: pointer;
    width: 100px;
    position: absolute;
    transition: 1s;
}

#php {
    cursor: pointer;
    width: 100px;
    position: absolute;
    transition: 1s;
}

#css{
    cursor: pointer;
    width: 100px;
    position: absolute;
    transition: 1s;
}